@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cursor-size: 20px;
}

body {
  margin: 0;
  background-color: #e8e6e1;
  color: #222;
  overflow-x: hidden;
}

/* Custom Scrollbar hiding */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
